# PocketBase
pb_data/
pocketbase
pocketbase-server/

# Cloudflare Tunnel
cloudflared
.cloudflared/

# Environment variables
.env
.env.*

# Logs
*.log
logs/

# Archives
*.zip
*.tar.gz

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
